<div class="container">
{% include 'instant-brand-page-slider' %}
</div>
{% schema %}
  {
    "name": "Instant Brand Slider",
    "settings": [],
  "blocks": [],
  "presets": [
    {
      "category": "Brands",
      "name": "Instant Brand Slider",
      "settings": {},
      "blocks": [

      ]
    }
  ]
}
{% endschema %}
